<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="public/assets/logo-compras.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
      Compras
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/compras">Compras</a>
        </li>
        <!-- Puedes agregar más rutas según sea necesario -->
      </ul>
    </div>
  </nav>
  
  <!-- Aquí se cargan las vistas según la ruta -->
  <router-outlet></router-outlet>

  
